# OVERALL QUESTION

Given a movies data set, what are the 5 most similar movies to a movie query?

# Data Import and Exploration

In [74]:
#Import necessary packages for our model
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestNeighbors

In [75]:
#Use EXACT link to import the data flle
df = pd.read_csv('https://github.com/ArinB/MSBA-CA-Data/raw/main/CA05/movies_recommendation_data.csv')

In [76]:
#Overview of the data and columns headers
df.head()

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0

In [77]:
#checking for any NULL values in our dataset
df.isnull().sum()

Movie ID       0
Movie Name     0
IMDB Rating    0
Biography      0
Drama          0
Thriller       0
Comedy         0
Crime          0
Mystery        0
History        0
Label          0
dtype: int64

In [78]:
#Exploring the data types that is in our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie ID     30 non-null     int64
 1   Movie Name   30 non-null     object
 2   IMDB Rating  30 non-null     float64
 3   Biography    30 non-null     int64
 4   Drama        30 non-null     int64
 5   Thriller     30 non-null     int64
 6   Comedy       30 non-null     int64
 7   Crime        30 non-null     int64
 8   Mystery      30 non-null     int64
 9   History      30 non-null     int64
 10  Label        30 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 2.7+ KB

In [79]:
#Our "Label column" is used for regression models and is therefore not needed for our recommender model
df = df.drop(columns='Label')

df.head()

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0

#Model Creation

You are building your own movie recommendation website which uses your Recommendation Engine at the back-end. A user is not sure if he/she wants to watch a certain title, but its genres intrigue the user; he/she is curious about other similar movies. The user scrolls down to the “More Like This” section to see what recommendations your recommendation website will make, and the back-end algorithmic gears begin to turn.

In [80]:
#First we can create our independent and dependent columns
x = df[['IMDB Rating', 'Biography', 'Drama', 'Thriller', 'Comedy', 'Crime', 'Mystery', 'History']]
y = df['Movie Name']

In [81]:
#With our x and y datasets made, we can apply our NearestNeighbors function to them
df_NN = NearestNeighbors(n_neighbors=5) 
df_NN.fit(x,y)

NearestNeighbors()

#Creating Recomendation List

Imagine a user is navigating your recommendation website, and he/she encounters a movie named "The Post".

Your website sends a request to its back-end for the 5 movies that are most similar to The Post. It begins by creating the row representation for The Post, then it runs a program similar to the one below to search for the 5 movies that are most similar to The Post, and finally sends the results back to the user at your website.

In [82]:
#From the characteristics given, we imput "The Post" genres and IMDB score characteristics
#The characteristics are: IMDB Rating = 7.2, Biography = Yes, Drama = Yes, Thriller = No, Comedy = No, Crime = No, Mystery = No, History = Yes
the_post = [7.2,1,1,0,0,0,0,1]
the_post_df = pd.DataFrame([the_post], columns=x.columns)

In [94]:
#Find the k nearest neighbors of the_post_df and their distances
distance, movie_row = df_NN.kneighbors(the_post_df)

In [84]:
#Showing the distance from the nearest neighbors
distance

array([[0.9       , 1.        , 1.0198039 , 1.16619038, 1.41421356]])

In [98]:
#Using iloc to find the movie name from its row position
nearest_movie_names = df.iloc[movie_row[0]]['Movie Name'].values

#Print the titles of the nearest neighbors
print("The 5 titles most similiar are: \n")
for title in nearest_movie_names:
    print(title)

The 5 titles most similiar are:

12 Years a Slave
Hacksaw Ridge
Queen of Katwe
The Wind Rises
A Beautiful Mind